@use "./base.scss";

// put your custom CSS here!

.external-embed {
  aspect-ratio: 16 / 9;
  height: 100%;
  width: 100%;
}

.yandex-maps-embed {
  aspect-ratio: 16 / 9;
  height: 100%;
  width: 100%;
  min-height: 500px;
}